@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Oswald:400,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gutter-width: 30px;

  /* Font variables */
  --font-primary: 'Montserrat', sans-serif;
  --font-display: 'Oswald', sans-serif;

  /* Color variables */
  --gray: #424242;
  --gray-800: #252525;
  --gray-600: #333333;
  --gray-500: #696969;
  --gray-300: #e4e4e5;
  --gray-200: #f1f5f1;
  --blue: #4f98ea;
  --blue-darker: #2d66a7;
  --blue-gray: #879cbd;
  --white: #fff;
  --black: #000;
}

body {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 15px;
  color: var(--gray-500);
}

h1,
h2,
.h2,
h3,
h4,
.h4,
h5 {
  font-family: var(--font-display);
  font-weight: 300;
}

h1,
h2,
.h2,
h3,
h4,
.h4 {
  text-transform: uppercase;
}

h5 {
  font-weight: 700;
  color: var(--gray);
}

.h2 {
  font-size: 1.5rem;
}

.h4 {
  font-size: 17px;
}

.h1-highlight {
  color: var(--white);
}

.h3-highlight {
  color: var(--gray);
  font-weight: 600;
}


/****************************************
  * GLOBAL
**/

.container {
  width: 990px;
  max-width: 100%;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

/* .col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;} */

.col-3,
.col-4,
.col-6,
.col-8 {
  padding-left: calc(var(--gutter-width) / 2);
  padding-right: calc(var(--gutter-width) / 2);
}

.col-3 {
  flex: 1 25%;
}

.col-4 {
  flex: 1 33.33%;
}

.col-6 {
  flex: 1 50%;
}

.col-8 {
  flex: 1 66.66%;
}

/******* Image *******/
.img-responsive {
  width: 100%;
  height: 100%;
}

/******* Color *******/
.text-white {
  color: var(--white);
}

.text-blue {
  color: var(--blue);
}

/******* Buttons *******/

.btn {
  border: transparent;
  border-radius: 3px;
  padding: 12px 40px;
  text-transform: uppercase;
  font-size: 13px;
}

.btn-sm {
  padding: 10px 15px;
}

.btn:focus {
  outline: none;
}

.btn-blue {
  background-color: var(--blue);
  color: var(--gray-200);
  transition: background-color 0.1s;
}

.btn-blue:hover {
  background-color: var(--blue-darker);
}

.btn-gray200 {
  background-color: var(--gray-200);
  color: var(--gray);
}

.btn-gray200:hover {
  background-color: var(--gray-500);
  color: var(--white);
}

/******* Links *******/
.anchor {
  text-decoration: none;
}

/******* Margin & Padding *******/
.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.ml-0 {
  margin-left: 0;
}

.mr-0 {
  margin-right: 0;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/******* Arrow after *******/
.arrow-after {
  position: relative;
}

.arrow-after::after {
  position: absolute;
  left: 0;
  bottom: -30px;
  content: '';
  width: 40px;
  height: 40px;
  background-color: var(--gray-200);
  clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
}

/******* Box shadow *******/
.shadow-effect {
  box-shadow: 6px 2px 8px -6px var(--gray-500);
}

/****************************************
  * MEDIA QUERIES
**/
@media only screen and (max-width: 1150px) {
  .pr-6 {
    padding-right: 6rem;
  }
}

@media only screen and (max-width: 992px) {
  .col-3 {
    flex: 50%;
  }

  .flex-item {
    flex: 1 0 20%;
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .row {
    flex-direction: column;
  }

  .header-columns {
    padding-bottom: 4rem !important;
  }

  .banner {
    display: none !important;
  }

  .section-intro {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  .copyright__text {
    margin-bottom: 20px;
  }

  .flex-container {
    padding-bottom: 10rem;
  }

  .float {
    float: none;
  }

  .fab:hover .icon-name-hover,
  .fas:hover .icon-name-hover {
    display: none;
  }

  .media-icon {
    font-size: 20px;
  }

  .media-item:not(:first-child) {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 568px) {
  .justify-content {
    justify-content: space-around;
  }

  .flex-container {
    padding-bottom: 50px;
  }
}